<div class="container">
  <div class="d-flex flex-wrap">
    <div *ngFor="let article of articles" class="p-2">
      <div class="card" style="width: 18rem;">
        <img [src]="article.urlToImage" class="card-img-top" [alt]="article.title">
        <div class="card-body">
          <h5 class="card-title">{{article.title}}</h5>
          <p class="card-text">{{article.description}}
          </p>
          <a [href]="article.url" class="btn btn-primary">Read full article</a>
        </div>
      </div>
    </div>

  </div>
</div>
